{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <td><b>Symbol</b></td>
                <td><b>Name</b></td>
                <td><b>Shares</b></td>
                <td><b>Price</b></td>
                <td><b>TOTAL</b></td>
            </tr>
        </thead>
        <tbody>
            {% for data in datas%}
                {% if data['sum(shares)'] >0 %}
                    <tr>
                        <td>
                            {{data.symbol}}
                        </td>
                        <td>
                            {{data.name}}
                        </td>
                        <td>
                            {{data['sum(shares)']}}
                        </td>
                        <td>
                            {{data.price|usd}}
                        </td>
                        <td>
                            {{(data.price*data['sum(shares)'])|usd}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor%}
            <tr>
                <td>CASH</td>
                <td></td><td></td><td></td>
                <td>{{money|usd}}</td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td>
                <td><b>
                    {{m_sum|usd}}
                </b></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
